* {
  color: #333;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  height: 100%;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

#header {
  text-align: center;
}

#header h1 {
  font-size: 5em;
  letter-spacing: 0.1em;
  margin: 0;
}

#header a {
  text-decoration: none;
}

#header a:hover {
  border-bottom: 3px dashed #888;
}

#header span {
  font-size: 1.0em;
  letter-spacing: 0.25em;
}

#tabs {
  position: fixed;
  top: 15px;
  left: 0;

  font-size: 1.5em;
  margin: 0;
  text-align: right;
}

#tabs a {
  background-color: #333;
  color: #eee;
  display: block;
  margin-bottom: 0.5em;
  padding: 0.25em;
  text-decoration: none;
  width: 90px;

  border: 2px solid #333;
  /* -moz-border-radius-topright: 10px; */
  -moz-border-radius-bottomright: 10px;
  /* -webkit-border-top-right-radius: 10px; */
  -webkit-border-bottom-right-radius: 10px;
  border-left: none;
}

#tabs a:hover {
  background-color: #eee;
  color: #333;
}

#gravatar {
  position: fixed;
  top: 15px;
  left: 115px;
}

#content {
  margin: 0 auto;
  overflow: auto;
  width: 600px;
}

#social {
  font-size: 2.5em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

#social div {
  margin-bottom: 0.5em;
}

#social a {
  font-weight: normal;
  margin-bottom: 0.25em;
  padding-bottom: 3px;
  text-decoration: none;
}

#social a:hover {
  border-bottom: 2px dashed #888;
}

#code {
  text-align: center;
}

#code a {
  border-bottom: 1px dashed #888;
  font-weight: bold;
  letter-spacing: 0.25em;
  margin-bottom: 0.25em;
  padding-bottom: 3px;
  text-decoration: none;
}

#code a:hover {
  border-bottom: 1px solid #888;
}

#code ul {
  font-size: 1.5em;
  list-style-type: none;
  margin-top: 10px;
  margin-right: 75px;
  text-align: left;
}

#code li {
  margin-bottom: 10px;
}

#code a {
  letter-spacing: 0.15em;
}

.info {
  border-left: 10px solid #333;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;

  background-color: #ddd;
  font-size: 0.9em;
  display: none;
  line-height: 18px;
  margin: 5px auto;
  padding: 1em;
}

.info .go-link {
  float: right;
}

#footer {
  position: fixed;
  bottom: 0;

  margin: 0 auto;
}

#footer a {
  background-color: #333;
  color: #eee;
  display: block;
  padding: 0.25em;
  text-decoration: none;

  border: 2px solid #333;
  border-bottom: none;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-left: none
}

#footer a:hover {
  background-color: #eee;
  color: #333;
}

#feed h2 {
  text-align: center;
}
