* {
  color: #333;
}

body {
  background-color: #eee;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

#header {
  text-align: center;
}

#header h1 {
  font-size: 5em;
  letter-spacing: 0.1em;
  margin: 0;
}

#header a {
  text-decoration: none;
}

#header a:hover {
  border-bottom: 1px dashed #888;
}

#header span {
  font-size: 1.5em;
  letter-spacing: 0.25em;
}

#tabs {
  position: fixed;
  top: 0.5em;
  left: 0;

  font-size: 1.5em;
  margin: 0;
  text-align: right;
}

#tabs a {
  background-color: #333;
  color: #eee;
  display: block;
  margin-bottom: 0.5em;
  padding: 0.25em;
  text-decoration: none;

  border: 2px solid #333;
  border-left: none;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;

  /* -moz-border-radius: 8px; */
  /* -webkit-border-radius: 8px; */

  /* /* Remove the left curves. */ */
  /* border-left: none; */
  /* -moz-border-radius-topleft: 0; */
  /* -moz-border-radius-bottomleft: 0; */
  /* -webkit-border-top-left-radius: 0; */
  /* -webkit-border-bottom-left-radius: 0; */
}

#tabs a:hover {
  background-color: #eee;
  color: #333;
}

#links {
  text-align: center;
}

#links a {
  border-bottom: 1px dashed #888;
  font-weight: bold;
  letter-spacing: 0.25em;
  margin-bottom: 0.25em;
  padding-bottom: 3px;
  text-decoration: none;
}

#links a:hover {
  border-bottom: 1px solid #888;
  font-style: italic;
}

#link-list {
  list-style-type: none;
  margin: 10px auto;
  margin-right: 355px;
  text-align: right;
  /* width: 255px; */
}

#link-list li {
  margin-bottom: 10px;
}

#link-list a {
  letter-spacing: 0.15em;
}

.info {
  display: none;
  margin: 1em;
}

#github-badge {
  /* margin: 2em auto; */
  text-align: left !important;
  width: 250px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#github-badge .repo_listing {
}
